@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/manrope/v3/xn7_YHE41ni1AdIRqAuZuw1Bx9mbZk4jE-_F.ttf) format('truetype');
}
@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/manrope/v3/xn7_YHE41ni1AdIRqAuZuw1Bx9mbZk59E-_F.ttf) format('truetype');
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: 15px;
  cursor: default;
}
body {
  font-family: "Manrope", "Raleway", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.container {
    max-width: 1164px;
    margin: 0 auto;
    padding: 0 16px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}

.main {
    background: url("../../images/bg-pattern.svg") no-repeat;
    background-position: top center;
    width: 100%;
    height: 100%;
    position: relative;
}

.main .main-svg {
    background:  url(../../images/pattern-circles.svg) no-repeat;
    background-position: center;
    top: 50px;
    position: inherit;
}

.main .header-row {
    padding-top: 30px;
    padding-bottom: 32px;
    text-align: center;
}

.main .header-row h2 {
    color: hsl(227, 35%, 25%);
}

.main .header-row h3 {
    font-weight: 600;
    color: hsl(225, 20%, 60%);
}

/* Card */

.card {
    max-width: 500px;
    height: 410px;
    margin: auto;
    background: #fff;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    padding: 24px 40px;
    border-radius: 8px;
    transition: all 0.3s;
    margin-top: 7rem;
}

.main .card .card-row {
    height: 300px;
    flex-direction: column;
    padding-top: 8px;
    padding-bottom: 48px;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.main .card-row h4 {
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    position: absolute;
    top: 0;
    align-self: self-start;
    color: hsl(225, 20%, 60%);
}

.main .card-row span {
    margin-right: 5px;
}

.main .card-row .dollar-price {
    display: inline-flex;
    align-items: center;
    order: -1;
    position: absolute;
    top: 0;
    right: 0;
}

.main .card-row .dollar-price h1 {
    display: inline;
    font-weight: 800;
    color:hsl(227, 35%, 25%);
    font-size: 42px;
    margin: 0;
}

.main .card-row .dollar-price .month {
    font-weight: 600;
    font-size: 16px;
    margin-left: 5px;
}

.main .card-row .slider-range {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: #ddd;
    margin-top: 3rem;
    outline: none;
}

.main .card-row .slider-range::-webkit-slider-thumb {
    appearance: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: hsl(174, 86%, 45%) url(../../images/icon-slider.svg) center no-repeat;
    cursor: pointer;
    position: relative;
    box-shadow: -100vw 125px 0 100vw hsl(174, 77%, 80%);
}

.main .card-row .slider-range:active::-webkit-slider-thumb {
    background: hsl(174, 77%, 80%);
}
.main .card-row .slider-range::-webkit-slider-runnable-track {
    border-radius: 24px;
    overflow: hidden;
    background: transparent;
}
.main .card-row .slider-range::-webkit-slider-thumb:hover {
    background: hsl(174, 85%, 41%) url(../../images/icon-slider.svg) center no-repeat;
}

.main .card-row .price-row {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 70px;
}

.main .card-row .price-row span {
    color: hsl(225, 20%, 60%);
}

.main .card-row .price-row .discount {
    background: hsl(14, 92%, 95%);
    color: hsl(15, 100%, 70%);
    padding: 4px 8px;
    border-radius: 32px;
    font-size: 12px;
}

.main .card-row .switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}
.main .card-row .switch .slider {
  cursor: pointer;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.main .card-row .switch input:checked + .slider {
    background-color: hsl(174, 77%, 80%);
}
.main .card-row .switch input:checked + .slider::before {
    transform: translateX(23px);
}
.main .card-row .switch input:focus + .slider {
    box-shadow: 0 0 1px hsl(174, 77%, 80%);
}
.main .card-row .switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
}
.main .card-row .switch .slider::before {
    position: absolute;
    content: "";
    width: 16px;
    height: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
}
.main .card-row .switch .round::before {
    border-radius: 50%;
}
.main .card-row .switch .round {
    border-radius: 30px;
}

/* alt-tab */

.main hr {
    margin: auto -40px;
    border: 1px solid hsl(224, 65%, 95%);
    position: relative;
    bottom: 90px;
}

.main .last-row {
    padding-top: 32px;
    padding-bottom: 24px;
    justify-content: space-between;
    align-items: center;
    bottom: 90px;
    position: relative;
}

.main .last-row .last h5 {
    margin-bottom: 15px;
    color:hsl(225, 20%, 60%);
}
.main .last-row h5 {
    font-weight: 600;
    font-size: 15px;
    margin: 0;
}
.main .last-row h5 img {
    margin-right: 10px;
}
.main .last-row .btn-trial {
    border-radius: 100px;
    background: hsl(227, 35%, 25%);
    color: hsl(226, 100%, 87%);
    min-height: 40px;
    padding: 8px 50px 8px 50px;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    cursor: pointer;
    border: 1px solid transparent;
    outline: none;
}

.attribution {
    font-size: 16px;
    text-align: center;
    line-height: 5px;
}
.attribution p {
    color:hsl(225, 20%, 60%);
}

.attribution b {
    color: hsl(228, 45%, 44%);
}


@media (max-width: 414px) {
    .main .card-row .price-row {
        font-size: 12px;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 70px;
    }

    .main .last-row .btn-trial {
        border-radius: 100px;
        background: hsl(227, 35%, 25%);
        color: hsl(226, 100%, 87%);
        min-height: 40px;
        padding: 5px 30px 5px 30px;
        font-size: 14px;
        font-weight: 700;
        line-height: 24px;
        text-align: center;
        cursor: pointer;
        border: 1px solid transparent;
        outline: none;
        position: absolute;
        right: -20px;
        bottom: 0.5rem;
    }
   
}


@media (max-width: 360px) {
    .main .last-row {
        padding-top: 32px;
        padding-bottom: 34px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        bottom: 90px;
        position: relative;
        flex-direction: column;
    }

    .main .last-row h5:first-child {
        margin-top: -10px;
    }

    .main .last-row .btn-trial {
        border-radius: 100px;
        background: hsl(227, 35%, 25%);
        color: hsl(226, 100%, 87%);
        min-height: 40px;
        padding: 5px 30px 5px 30px;
        font-size: 14px;
        font-weight: 700;
        line-height: 24px;
        text-align: center;
        cursor: pointer;
        border: 1px solid transparent;
        outline: none;
        position: absolute;
        bottom: 0;
    }

    .main .card-row .price-row {
        font-size: 8px;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 70px;
    }

    .main .card .card-row {
        height: 300px;
        flex-direction: column;
        padding-top: 8px;
        padding-bottom: 48px;
        justify-content: space-around;
        align-items: center;
        position: relative;
    }
   
    .main .card-row .dollar-price h1 {
        display: inline;
        font-weight: 800;
        color:hsl(227, 35%, 25%);
        margin: 0;
    }
    
    .main .card-row .dollar-price .month {
        font-weight: 600;
        font-size: 16px;
        margin-left: 5px;
    }
}



